@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  color: #FFFFFF;
  background-color: #BBBBBB;
  background-image: url(../assets/Socialist_Title_PC.png);
  background-position: center 0px;
  background-repeat: no-repeat;
}

/* line 21, ../sass/screen.scss */
a {
  color: #FFFFFF;
}

/* line 25, ../sass/screen.scss */
.score {
  position: absolute;
  width: 100%;
  top: 0px;
  font-size: 34px;
  padding: 20px;
  text-align: center;
}

/* line 34, ../sass/screen.scss */
.cam {
  display: none;
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-image: url(../assets/weird_phone.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 48, ../sass/screen.scss */
.aim {
  display: none;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 60px;
  left: 60px;
  background-color: #73cf74;
  border-radius: 1000px;
  box-shadow: 0 0 10px #333333;
}
/* line 59, ../sass/screen.scss */
.aim .aim-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url(../assets/Arrow.png);
  background-repeat: none;
  background-position: center center;
}
/* line 67, ../sass/screen.scss */
.aim .aim-btn.left {
  left: -40px;
  top: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 75, ../sass/screen.scss */
.aim .aim-btn.right {
  right: -40px;
  top: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 83, ../sass/screen.scss */
.aim .aim-btn.top {
  left: 20px;
  top: -40px;
}
/* line 88, ../sass/screen.scss */
.aim .aim-btn.bottom {
  left: 20px;
  bottom: -40px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 98, ../sass/screen.scss */
.gameover, .start-btn {
  display: none;
  position: absolute;
  top: 260px;
  width: inherit;
  background-color: #FFFFFF;
  color: #333333;
  padding: 50px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 32px;
  box-shadow: 0 0 20px #333333;
}
/* line 112, ../sass/screen.scss */
.gameover a, .start-btn a {
  color: #333333;
}

/* line 117, ../sass/screen.scss */
.start-btn {
  display: block;
}

/* line 121, ../sass/screen.scss */
.score {
  display: none;
}

@media screen and (max-width: 960px) {
  /* line 126, ../sass/screen.scss */
  .aim, .cam {
    display: block;
  }

  /* line 130, ../sass/screen.scss */
  .gameover, .start-btn {
    top: 200px;
  }

  /* line 134, ../sass/screen.scss */
  body {
    background-image: url(../assets/Socialist_Title.png);
  }
}
@media screen and (max-width: 500px) {
  /* line 140, ../sass/screen.scss */
  .aim {
    -webkit-transform: translate(-40px, 0px) scale(0.5);
    -moz-transform: translate(-40px, 0px) scale(0.5);
    transform: translate(-40px, 0px) scale(0.5);
  }

  /* line 146, ../sass/screen.scss */
  .cam {
    -webkit-transform: translate(40px, 0px) scale(0.5);
    -moz-transform: translate(40px, 0px) scale(0.5);
    transform: translate(40px, 0px) scale(0.5);
  }
}
/* line 155, ../sass/screen.scss */
.start .cam, .start .aim {
  display: none !important;
}
