/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
	color: #FFFFFF;
	background-color: #BBBBBB;

	background-image: url(../assets/Socialist_Title.png);
	background-position: center 0px ;
	background-repeat: no-repeat;
}

a {
	color: #FFFFFF;
}

.score {
	position: absolute;
	width: 100%;
	top: 0px;
	font-size: 34px;
	padding: 20px;
	text-align: center;
}

.cam {
	display: none;
	width: 160px;
	height: 160px;
	position: absolute;
	bottom: 40px;
	right: 40px;

	background-image: url(../assets/weird_phone.png);
	background-repeat: no-repeat;
	background-position: center center;
	//background-size: 80%;
}

.aim {
	display: none;
	width: 120px;
	height: 120px;
	position: absolute;
	bottom: 60px;
	left: 60px;
	background-color: #73cf74;
	border-radius: 1000px;
	box-shadow: 0 0 10px #333333;

	.aim-btn {
		width: 80px;
		height: 80px;
		position: absolute;
		background-image: url(../assets/Arrow.png);
		background-repeat: none;
		background-position: center center;

		&.left {
			left: -40px;
			top: 20px;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}

		&.right {
			right: -40px;
			top: 20px;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		&.top {
			left: 20px;
			top: -40px;
		}

		&.bottom {
			left: 20px;
			bottom: -40px;
			-webkit-transform: rotate(-180deg);
			-moz-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
	}
}

.gameover, .start-btn {
	display: none;
	position: absolute;
	top: 200px;
	width: inherit;
	background-color: #FFFFFF;
	color: #333333;
	padding: 50px;
	right: 0px;
	left: 0px;
	text-align: center;
	font-size: 32px;
	box-shadow: 0 0 20px #333333;

	a {
		color: #333333;
	}
}

.start-btn {
	display: block;
}

.score {
	display: none;
}

@media screen and  (max-width: 960px) {
	.aim, .cam {
		display: block;
	}	
}

@media screen and  (max-width: 500px) {
	.aim {
		-webkit-transform: translate(-40px, 0px) scale(0.5);
		-moz-transform: translate(-40px, 0px) scale(0.5);
		transform: translate(-40px, 0px) scale(0.5);
	}

	.cam {
		-webkit-transform: translate(40px, 0px) scale(0.5);
		-moz-transform: translate(40px, 0px) scale(0.5);
		transform: translate(40px, 0px) scale(0.5);
	}

}

.start {
	.cam, .aim {
		display: none !important;
	}
}